# Next.js
.next
.cache/
out/
build/
dist/

# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env.local
.env.production.local
.env.test.local
!.env.example

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
